body {
<<<<<<< Updated upstream
  color: black};
font-family: times new roman;
margin: 10px;
}

div {
  min-height: 10vh;
  width:100vw;
}

h1, h2 {
  text-align: center;
}
h1 {
  font-size: 2em;
  font-family:sans-serif;
}

h2 {
  font-size: 2em;
  font-family:sans-serif;
}

h2,em{
  font-size: 2em;

}
=======
  color: rgb(190, 100, 5);
  font-family: arial;
  margin: 100px;
}
h1 {
  color: rgba(255, 0, 0, 0.5);
  text-align: center;
  font-size: 100px;
}
h2 {
  text-align: left;
  font-size: 50px;
}
img {
  align-content: right;
}
.img-festivalpink {
  align-content: space-between;
  width: 250px;
  height: 200px;
  background-image: url(img-festivalpink);
}
.img-festivalkeyboard {
  width: 250px;
  height: 200px;
}
h3 {
  font-size: 50px;
}
p {
  font-size: 25px;
}
div
>>>>>>> Stashed changes
